In [1]:
import pandas as pd

In [5]:
print(pd.__version__)

2.2.3

In [6]:
mySeries = [1,2,3,4,6]
result = pd.Series(mySeries)
print(result)

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [15]:
myDataFrame = {
    "cars": ["one","two","three"],
    "numbers":[12,13,14],
    "name":["Pankaj","deepak","helo"]
}
result = pd.DataFrame(myDataFrame)
print(result)

    cars  numbers    name
0    one       12  Pankaj
1    two       13  deepak
2  three       14    helo

In [20]:
# read csv file
result = pd.read_csv('data.csv')

# create dataFrame
df = pd.DataFrame(result)

# export dataFrame to CSV file
df.to_csv("myData.csv")
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [26]:
# read excel file
# result = pd.read_excel('data.xlsx')
# print(result)

# return rows & columns
df.shape

(169, 4)

In [28]:
# Return single column
# result =  df['Duration']
# print(result)

# Return multiple columns
result =  df[['Duration', 'Pulse']]
print(result)

     Duration  Pulse
0          60    110
1          60    117
2          60    103
3          45    109
4          45    117
..        ...    ...
164        60    105
165        60    110
166        60    115
167        75    120
168        75    125

[169 rows x 2 columns]

In [33]:
# return particular record / return cell
# df.loc[row_index, col_index] & index name 
rt = df.loc[0, "Duration"]
print(rt)

# based on integer indexes
rt = df.iloc[0, 0]
print(rt)

# both are same, first search with index name, second search sith index number

60
60

In [8]:
# create a dictionary with five fields each
# Sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

print(df)

# Access = 1 for column
# df = df.drop('B', axis=1)

# Access = 0 for rows
df = df.drop(1, axis=0)

# Drop columns 'B' and 'C'
# df = df.drop(['B', 'C'], axis=1)
# print(df)

# If you want to modify the original DataFrame without creating a new one, use the inplace=True parameter:
# Drop column 'B' in place
df.drop('B', axis=1, inplace=True)
print(df)



print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  C
0  1  7
2  3  9
   A  C
0  1  7
2  3  9

In [56]:
df = pd.read_csv('../0.Sample-Data/sample_csv.csv')
five_rows = df.head()
# print(five_rows)

# delete column
result = five_rows.drop('Unnamed: 0', axis=1)

# delete single row
result = result.drop(0, axis=0)
# delete multiple rows
# result = result.drop([1,2], axis=0)

# Rename columns
result.rename(columns={'First Name':'Name'}, inplace=True)

# sort_values => sort by column
# print(result)
# result = result.sort_values(by='Name', ascending=False) # sort by descending order
result = result.sort_values(by='Name', ascending=True) # sort by ascending order

# apply => apply function to each element
result['Name'] = result['Name'].apply(lambda x: x.upper())
# lambda x: x.upper() => convert all name to upper case
# In Python, lambda x: x.upper() creates an anonymous function that takes an input x and returns x.upper(),

# Make Name column as null, where Age is greater than 30
# result['Name'] = result.apply(lambda x: 'null' if x['Age'] > 40 else x['Name'], axis=1)

# make first row & first column as null
result.iloc[0, 0] = None
result.iloc[2, 2] = None

# isnull => check null values
# result = result.isnull()

# dropna = > drop null values, it will drop all rows where any column is null
# result = result.dropna()

# fillna =  > fill null values, it will fill all null values with 'null'
# result = result.fillna('Hello')

# groupby => group by column
# result = result.groupby('Age').sum()

print(result)

      Name  Last Name  Gender        Country  Age        Date    Id
3     None     Hanner  Female  United States   25  15/10/2017  3549
1     MARA  Hashimoto  Female  Great Britain   25  16/08/2016  1582
4  NEREIDA    Magwood    None  United States   58  16/08/2016  2468
2   PHILIP       Gent    Male         France   36  21/05/2015  2587
        Name        Last Name        Gender                     Country  \
Age
25      MARA  HannerHashimoto  FemaleFemale  United StatesGreat Britain
36    PHILIP             Gent          Male                      France
58   NEREIDA          Magwood             0               United States

                     Date    Id
Age
25   15/10/201716/08/2016  5131
36             21/05/2015  2587
58             16/08/2016  2468

In [82]:
# MERGE DATAFRAMES
# Create two sample DataFrames
df1 = pd.DataFrame(
    {"column_first": [1, 2, 3, 4], "Name": ["Alice", "Bob", "Charlie", "David"]}
)

df2 = pd.DataFrame({"column_first": [3, 4, 5, 6], "Age": [23, 34, 29, 45]})

# .merge() method, which is used to merge two dataframes, it keeps the common values and removes the rest
df1 = pd.DataFrame(df1)
df2 = pd.DataFrame(df2)
# left_index=True, right_index=True => merge based on index values
# merged_df = pd.merge(df1, df2, left_index=True, right_index=True)

# how='inner' => merge based on common column
# merged_df = pd.merge(df1, df2, how='inner', left_index=True, right_index=True)

# on='A' => merge based on column A
merged_df = pd.merge(df1, df2, on="column_first", how="inner")
# on, includes the column name on which the merge is to be performed
# how, includes the type of merge to be performed
# type of merge: inner, outer, left, right

print(merged_df)

   column_first     Name  Age
0             3  Charlie   23
1             4    David   34

In [83]:
# JOIN DATAFRAMES
# Create two sample DataFrames
df1 = pd.DataFrame(
    {"column_first": [1, 2, 3, 4], "Name": ["Alice", "Bob", "Charlie", "David"]}
)

df2 = pd.DataFrame({"column_first": [3, 4, 5, 6], "Age": [23, 34, 29, 45]})

# .join() method, which is used to join two dataframes, it keeps all the values and fills the rest with NaN
df1 = pd.DataFrame(df1)
df2 = pd.DataFrame(df2)

# left_index=True, right_index=True => join based on index values
merged_df = df1.join(df2, lsuffix='_left', rsuffix='_right')

print(merged_df)

   column_first_left     Name  column_first_right  Age
0                  1    Alice                   3   23
1                  2      Bob                   4   34
2                  3  Charlie                   5   29
3                  4    David                   6   45

In [84]:
# CONCATENATE DATAFRAMES
# Create two sample DataFrames
df1 = pd.DataFrame(
    {"column_first": [1, 2, 3, 4], "Name": ["Alice", "Bob", "Charlie", "David"]}
)

df2 = pd.DataFrame({"column_first": [3, 4, 5, 6], "Age": [23, 34, 29, 45]})

# .concat() method, which is used to concatenate two dataframes, it keeps all the values and fills the rest with NaN
df3 = pd.concat([df1, df2], axis=1)
print(df3)

   column_first     Name  column_first  Age
0             1    Alice             3   23
1             2      Bob             4   34
2             3  Charlie             5   29
3             4    David             6   45

In [98]:
data = df.head()
# drop column
data = data.drop(['Unnamed: 0', 'Last Name', 'Country'], axis=1)

# Pivoting
# .pivot() method, which is used to pivot the data, it reshapes the data based on the given columns
# index : column to use as index
# columns : column to use as columns
# values : column to use as values
# data = data.pivot(index="Age", columns="First Name", values="Id")

# index='Date': The unique values from the Date column become row labels.
# columns='Product': Unique values from the Product column become new columns.
# values='Sales': The Sales column provides the values for the new table.
data

  First Name  Gender  Age        Date    Id
0      Dulce  Female   32  15/10/2017  1562
1       Mara  Female   25  16/08/2016  1582
2     Philip    Male   36  21/05/2015  2587
3   Kathleen  Female   25  15/10/2017  3549
4    Nereida  Female   58  16/08/2016  2468