**Python Lists: A Comprehensive Guide**

Python lists are versatile data structures that allow you to store and manipulate collections of items. They are ordered and mutable, meaning you can access elements by their index and modify them.

**Key Concepts:**

1. **Creating a List:**
   - Use square brackets `[]` to enclose elements:

In [2]:
my_list = [1, 2, 3, "apple", "banana"]
my_list

[1, 2, 3, 'apple', 'banana']

2. **Accessing Elements:**
   - Use indexing, starting from 0:

In [5]:
first_element = my_list[0]  # 1
last_element = my_list[-1]  # "banana"
print(first_element, last_element)

1 banana

- Use slicing to extract a range of elements:

In [6]:
sublist = my_list[1:4]  # [2, 3, "apple"]
sublist

[2, 3, 'apple']

3. **Modifying Elements:**
   - Assign new values to specific indices:

In [7]:
my_list[2] = "orange"  # [1, 2, "orange", "apple", "banana"]
my_list

[1, 2, 'orange', 'apple', 'banana']

4. **List Operations:**
   - **Length:** `len(my_list)`
   - **Concatenation:** `list1 + list2`
   - **Repetition:** `list * n`
   - **Membership Testing:** `item in my_list`
   - **Iterating:**

In [9]:
print(len(my_list))

5

In [10]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1 + list2)

[1, 2, 3, 4, 5, 6]

In [11]:
print(list1 * 2)

[1, 2, 3, 1, 2, 3]

In [13]:
print(10 in list1)

False

In [8]:
for item in my_list:
         print(item)

1
2
orange
apple
banana

5. **List Methods:**
   - **`append()`:** Adds an element to the end.
   - **`insert()`:** Inserts an element at a specific index.
   - **`remove()`:** Removes the first occurrence of an element.
   - **`pop()`:** Removes and returns the last element (or a specified index).
   - **`clear()`:** Removes all elements.
   - **`count()`:** Counts occurrences of an element.
   - **`index()`:** Finds the index of the first occurrence of an element.
   - **`sort()`:** Sorts the list in ascending order.
   - **`reverse()`:** Reverses the order of elements.
   - **`copy()`:** Creates a shallow copy of the list.

**Example:**

In [18]:
list1 = [1,2,3]
list1.append(4)
print(list1)

list1.insert(2,5)
print(list1)

list1.remove(2)
print(list1)

list1.pop()
print(list1)

list1.clear()
print(list1)

list1 = [1,2,3]
print(list1.count(2))

print(list1.index(3))

list1.sort()
print(list1)

list1.reverse()
print(list1)

list2 = list1.copy()
print(list2)

[1, 2, 3, 4]
[1, 2, 5, 3, 4]
[1, 5, 3, 4]
[1, 5, 3]
[]
1
2
[1, 2, 3]
[3, 2, 1]
[3, 2, 1]

In [19]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Find the length
print(len(numbers))

# Sort the list
numbers.sort()
print(numbers)

# Reverse the list
numbers.reverse()
print(numbers)

# Count the number of 5s
print(numbers.count(5))

# Find the index of the first occurrence of 3
print(numbers.index(3))

# Remove the first occurrence of 5
numbers.remove(5)
print(numbers)

11
[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]
[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]
3
6
[9, 6, 5, 5, 4, 3, 3, 2, 1, 1]

**Remember:**
- Lists are mutable, so changes made to a list affect the original list.
- Use `copy()` to create a separate copy if you want to modify a list without affecting the original.
- Lists can store elements of different data types.

By understanding these core concepts and practicing with list methods, you can effectively work with lists in your Python programs.

# List Comprehensions

In [3]:
# [expression for item in iterable]

# Create a list of squares of numbers from 1 to 10
squares = [x**2 for x in range(1, 11)]
print(squares)  # Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Create a list of even numbers from 1 to 20
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)  # Output: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
even_numbers = [x for x in range(1,21) if x + 2 == 6]
print(even_numbers)

[4]